# This is Git's per-user configuration file.
[user]
	email = {{ git.mail }}
	name = {{ git.username }}

[push]
	default = simple
	followTags = true

[status]
  showUntrackedFiles = all

[fetch]
  prune = true

[rebase]
  autosquash = true

[diff]
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = {{ dna_bin_path }}/icdiff --line-numbers $LOCAL $REMOTE

[core]
	editor = {{ editor.name }}
	pager = diff-so-fancy | less --tabs=1,5 -R

[github]
	user = {{ git.username }}

[ghi]
	token = !security find-internet-password -a {{ git.username }} -s github.com -l 'ghi token' -w

[alias]
  as = rebase -i master --autosquash
  pf = push --force-with-lease

  aliases = config --get-regexp alias
  count = "!f() { compareBranch=${1-master}; echo \"commits since master: $(git rev-list --count HEAD ^$compareBranch)\";  }; f"
  undo = reset --soft HEAD^
  added = difftool --cached
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  stash-all = stash save --include-untracked

  # shortcuts
  co = checkout
  cb = checkout -b
  aa = add --all
  cm = !git add -A && git commit -m
  up = pull --rebase

  h = !git log --graph --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  hs = !git h --max-count=10
  l = log --oneline --graph
  ls = log --abbrev-commit --no-merges --pretty='%h (%ad) - [%an] %s %d' --date=format:'%b %d %Y'
  ll = log --no-merges --pretty='\n\n%C(bold yellow)[%cn] %C(bold red)(%cr) %C(bold green)%s' --decorate --numstat
  graph = log --graph --all --decorate --stat --date=iso

  s = status
  leaderboard = shortlog -sn
  stats = shortlog -sn --since='10 weeks' --until='2 weeks'
  overview = log --all --oneline --no-merges
  recap = log --all --oneline --no-merges --author={{ git.username }}

  # shell commands
  ciao = "!echo \"ciao $USER!\""

  tidy = !git branch --merged | egrep -v '(^\\*|master)' | xargs git branch -d && git remote prune origin
  wip = !git add --all && git commit -m "wip" --no-verify
  # List diff files
  ## in commit
  lsc = diff-tree --no-commit-id --name-only -r
  ## in head
  lsh = diff-tree --no-commit-id --name-only -r HEAD
  ## in branch
  lsb = !git diff-tree --no-commit-id --name-only -r master..$(git rev-parse --abbrev-ref HEAD)

  yolo = !git commit -m "$(curl -s whatthecommit.com/index.txt)"
