# --
# -- {{ ansible_managed }}
# --

source {{ dna_home }}/shellrc

source {{ dna_home }}/antigen.zsh
source {{ dna_home }}/plugins.zsh

# support for an extra local configuration
[ -e "${HOME}/.zshrc_local" ] && source "${HOME}/.zshrc_local"
