# vim: filetype=sh
# --
# -- {{ ansible_managed }}
# --

source {{ dna_home }}/settings.zsh

source {{ dna_home }}/shellrc
source {{ dna_lib_path }}/aliases

source {{ dna_home }}/antigen.zsh
source {{ dna_home }}/plugins.zsh

# support for an extra local configuration
[ -e "${HOME}/.zshrc_local" ] && source "${HOME}/.zshrc_local"

export CHEATCOLORS=true
export EDITOR={{ editor.name }}

# need to be filled if you use this kinf of stuff
# alternatively, one can run `git config --global github.token "xxx"`
export GITHUB_TOKEN=""
