# vim: filetype=sh
# --
# -- {{ ansible_managed }}
# --
# entry point for loading/controlling zsh session setup

source {{ dna_home }}/settings.zsh

source {{ dna_home }}/antigen.zsh
source {{ dna_home }}/plugins.zsh

source {{ dna_home }}/shellrc
source {{ dna_lib_path }}/aliases
source {{ dna_lib_path }}/functions

# support for an extra local configuration
[ -e "${HOME}/.zshrc_local" ] && source "${HOME}/.zshrc_local"
